<h1>New report</h1>

<%= render 'form' %>

The Object:<br>
  <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
          codebase="http://fpdownload.adobe.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
          WIDTH="1195" HEIGHT="1188" id="myMovieName">
   Dashie
  </OBJECT>

<%= link_to 'Back', reports_path %>
